/* bootstrapのcssを上書き */
* {
    box-sizing: inherit;
}
/* 地図を全画面表示 */
html,
body {
    width: 100%;
    height: 100%;
}
.ui-content {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 !important;
}
#map {
    width: 100%;
    height: 100%;
}
/* トークン情報は非表示 */
div#token {
    display: none;
}


/* ヘッダの設定 */
.ui-header h1 {
    padding: 3px 0 !important;
}

.ui-header label {
    font-size: 8px !important;
    margin: 0px !important;
}

/* メニューボタンの表示位置調整 */
.ui-header a.ui-btn-icon-top:after {
    top: 0;
}
.ui-header .ui-btn-icon-top {
    padding-top: 1.5em;
    padding-bottom: 0px;
}
/* 日付表示の表示位置調整 */
#map-header .ui-input-text {
    margin: 0px;
}
#map-header .ui-input-text input {
    min-height: 20px !important;
    width: 100%;
    text-align: center;
}
/* 登下校の表示位置調整 */
.ui-header a.ui-btn-right {
    padding: 0.28em 1em 0 1em !important;
}

/* メニューパネルの設定 */
#menu .ui-panel-inner {
    height: calc(100vh - 32px);
    overflow-y: scroll;
}
/* メニュー内の評価 */
#rating {
    potision: relative;
}
#rating img {
    margin: 0 70px;
    width: 100px;
}
#rating-list li {
    position: relative;
}
#rating-list li > div {
    position: absolute;
    top: 12px;
    right: 0px;
}
#rating-list label {
    display: inline;
}
/* メニュー内のマーカーアイコンの検索条件 */
#marker-criteria-list .ui-collapsible-content,
#marker-criteria-list .ui-field-contain {
    padding: 0;
}
#marker-criteria-list fieldset.ui-controlgroup {
    margin: 0;
}

.leaflet-container .leaflet-top.leaflet-left a,
.leaflet-container .leaflet-bottom.leaflet-left a {
    color: #000 !important;
    font-weight: normal;
}
/* leaflet.timedimension customize */
.leaflet-left.leaflet-bottom .leaflet-control {
    margin-bottom: 30px;
}

.leaflet-bar button, .leaflet-control-layers, .leaflet-bar-timecontrol {
    background-color: rgba( 255, 255, 255, 0.85 );
}
.leaflet-bar-timecontrol .leaflet-control-timecontrol {
    background-color: transparent;
}
/* timecontrol */
div.leaflet-bar-timecontrol {
    min-width: 300px;
}
/* timecontrol-date */
.leaflet-bar-timecontrol a.timecontrol-date,
.leaflet-bar-timecontrol a.timecontrol-date:hover {
    padding: 0px;
    min-width: 120px;
}

/* time slider */
.leaflet-bar-timecontrol .timecontrol-dateslider .slider {
    width: 60px;
}
/* speed  */
.leaflet-bar-timecontrol .timecontrol-speed .speed {
    width: 30px;
}
.timecontrol-speed:before {
    content: none;
} 
/* speed slider */
.leaflet-bar-timecontrol .timecontrol-speed .slider {
    width: 30px;
}
@media (max-width: 767px){
    .leaflet-bar-timecontrol .timecontrol-date,
    .leaflet-bar-timecontrol .timecontrol-speed,
    .leaflet-bar-timecontrol .timecontrol-dateslider{
        clear: none; 
        float: left;
        border-right: none;
    }
}

/* 児童選択 */
#child-list fieldset {
    width: 100%;
    margin: 0;
}
#child-list .ui-collapsible-content {
    padding: 0 0 0 1em;
}

/* 地図メモ */
.leaflet-top.leaflet-right {
    z-index: 999;
}
.leaflet-control-dialog {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 801;
}
.leaflet-control-dialog-inner {
    padding: 0 !important;
}
.leaflet-control-dialog-contents {
    padding: 0 10px !important;
}
.map-memo .ui-dialog-titlebar {
    display: none;
}
#map-memo fieldset {
    float: left;
    margin: 0.5em;
}

#marker-icon {
    height: 35.5px;
}
#marker-comment {
    font-size: 16px;
    width: 98%;
}
#map-memo .dlg-footer {
    float: right;
}

/* 評価ダイアログ */
#rating-popup {
    background-color: transparent;
}
#rating-icon {
    width: 260px;
    height: 200px;
    position: relative;
}

#rating-icon img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 200px;
}
